<!DOCTYPE html>
<html><head>
<title>E- Learn</title>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />   


<!-- test profile -->
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- test profile -->



  				<!-- Bootstrap
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     			 -->         

					   <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/kickstart.js"></script>      

                            <!-- KICKSTART -->
</head>
<body>

<!-- Menu Horizontal -->
		<ul class="menu">
			<li class="current"><a href="/">Home</a></li>
			<li><a href="/classes">Classes</a></li>
			<li><a href="/games/snake"> Snake</a></li>
			<li><a href="/games/Math"> Math</a></li>
			<li><a href="/games/Memory">Memory Game</a></li>
		
			<li><a href="/games/worm_cool">worm_cool</a></li>
			
			{{#if user_object}}
			<li><a href=""> {{user_object.username}} le username</a></li>
			{{/if}}
			<li style="float: right;margin-right: 50px;">

				<form action="/search" method="POST" style="float: right">
					<input  type="search" name="searchkey" placeholder="Search">
					<input type="submit" value="search">
				</form>
				
			</li>
			
			</ul>


<div class="grid">
	
<!-- ===================================== END HEADER ===================================== -->
	 
<div class="col_12">
	<div class="col_9">
		{{#if success_msg}}
			<div class="notice success"> <i class="icon-remove-sign icon-large"></i>
			{{success_msg}}
			<a href="#close" class="icon-remove"></a>
		</div>	
		{{/if}}
		{{#if error_msg}}
			<div class="notice error"> <i class="icon-remove-sign icon-large"></i>
			{{error_msg}}
			<a href="#close" class="icon-remove"></a>
		</div>
		{{/if}}
		{{#if error}}
			<div class="notice error"> <i class="icon-remove-sign icon-large"></i>
			{{error}}
			<a href="#close" class="icon-remove"></a>
		</div>
		{{/if}}
        {{{body}}}
	</div>	
	
	<div class="col_3">
		
		{{>login}}
	
	</div>
	
	<hr />
	
	{{>classes}}
	
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>


</body></html>