<h2>   {{user_object.username}} 's Classes </h2>

   
   
    <table class="table table-bordered" cellspacing="0" cellpadding="0"> 
        <thead> 
            <tr class="table-primary">
                  
                <th scope="col">Class Id</th>
                <th scope="col">Class Name</th>
                <th scope="col">Class Description</th>
                <th scope="col">#</th>
                 <th scope="col">#</th>
                 <th scope="col">#</th>
            </tr>
        </thead>
        <tbody> 
            {{#each class_}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{title}}</td>
                    <td> {{description}}</td>
                     <td><a href="/instructors/classes/{{_id}}/update">Update Class</a></td>
                    <td><a href="/instructors/classes/{{_id}}/lessons">Manage Lessons</a></td>
                    <td><a href="/instructors/classes/{{_id}}/lessons/new">Add Lessons</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

   