
<h2>Manage Account</h2>
<form action="/{{user}}s/manage" method="POST" enctype="multipart/form-data">
		<div class="portfoliocard">
		<div class="coverphoto">
      
    </div>
		<div class="profile_picture">
       <img name="avatar" style="border-radius: 20%; max-height: 140px; min-width: 130px;  " src="/images/avatars/{{avatar}}" alt="avatar">
    </div>
		<div class="left_col">
			<div class="followers">
				<div class="follow_count">18,541</div>
				Followers
			</div>
			<div class="following">
				<div class="follow_count">181</div>
				Following
			</div>
		</div>
		<div class="right_col">
			<h2 class="name">{{instructor.first_name}}</h2>
			<h3 class="location"> {{instructor.last_name}}</h3>
             
			<ul class="contact_information">
				<li class="work">adresse</li>
				<li class="website"><a class="nostyle" href="#">{{instructor.adresse.[0].street_address}}</a></li>
				<li class="mail">{{instructor.adresse.[0].city}}</li>
				<li class="phone">{{instructor.adresse.[0].state}}</li>
             
				<li class="resume"><a href="#" class="nostyle">{{instructor.adresse.[0].zip}}</a></li>
                   <li class="mail">{{instructor.email}}</li>
			</ul>
           
		</div>
		</div>



  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="instructor_username" value="{{instructor.username}}" placeholder="{{instructor.username}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="instructor_email" value="{{instructor.email}}" placeholder="{{instructor.email}}">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Date naissance</label>
    <div class="col-sm-6">
      <input type="date" name="date" class="form-control" >
    </div>
  </div>

  
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Avatar</label>
    <div class="col-sm-3">
      <input type="file" name="avatar" class="form-control" >
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="male" {{#if male}} checked {{/if}} id="gender-male">
          <label class="form-check-label" for="gridRadios1">
           Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" {{#if female}} checked {{/if}} value="female" id="gender-female">
          <label class="form-check-label" for="gridRadios2">
            Female
          </label>
        </div>
      
      </div>
    </div>
  </fieldset>
  

 <div class="constainer">
        <input type="submit"  class="btn btn-primary" name="submit" >
    </div>



  </form>
</div>
	        