
<div class="jumbotron">

<h2>this Class Information :</h2>

<table class="table">

 <tr>
  <td>  <center style="padding-top: 20px;"> {{instructor.email}}</center></td>
  <th></th>
  <th></th>
  <th></th>
 </tr>
 <tr>
  <th rowspan="4"><center><img src="/images/avatars/{{instructor.avater_name}}" alt="" style=" border-radius: 50%; width: 150px;height: 150px"></center></th>
  <th></th>
  
  <td><h3>Class Title:</h3></td>    
  <td rowspan="4"><h3> {{class.title}}</h3></td>
 </tr>
 <tr>
  <th></th>
  <td></td>
  <td></td>
 </tr>
 <tr>
  
  <th></th>
  <td></td>
  <td></td>
 </tr>
 <tr>
 
  <td></td>
  <td></td>
 </tr>
</table>

  <hr class="my-4">
  <p>  {{class.description}}.</p>

<center>
    <div class="list-group"  style="width: 500px;">
        
    <button type="button" class="list-group-item list-group-item-action active">
    List Of Lessons
    </button>
    
        {{#each class.lessons}}
            <button type="button" class="list-group-item list-group-item-action">{{lesson_title}}</button>
        {{/each}}
    
    </div >
</center>
 
    
 {{#if user}}
        <form action="/{{user}}s/classes/register" id="classRegForm" method="POST">
            <input type="hidden" name="student_id" value="{{user}}">
            <input type="hidden" name="class_id" value="{{class._id}}">
            <input type="hidden" name="class_title" value="{{class.title}}">
            <p class="lead" style="padding-top: 20px;">
            <input type="submit" class="btn btn-primary btn-lg" value="Register for this Class">
            </p>
           
           
        </form>

        <!-- ++++++++++++++++++ Like or Dislike Form ++++++++++++++ -->

                <form method="POST" action="/like_class" style ='float: left; padding: 5px;'>
                    <input type="hidden" name="user_id" value="{{user_object._id}}">
                    <input type="hidden" name="class_id" value="{{class._id}}">
                     <input type="submit" class="btn btn-light btn-lg"
                    style="background-image: url('https://img.icons8.com/color/48/000000/heart-health.png'); width: 50px;" 
                    value="" id="">{{likes}}
                </form>
                <form method="POST" action="/dislike_class" style ='float: left; padding: 5px;'>    
                    <input type="hidden" name="user_id" value="{{user_object._id}}">
                    <input type="hidden" name="class_id" value="{{class._id}}">
                    <input type="submit" class="btn btn-light btn-lg" 
                    style="background-image: url('https://img.icons8.com/color/48/000000/dislike.png'); width: 50px;"  
                    value="" id="">{{dislike}}
                </form>


        <!--*********************** comment Section********************* -->

        <!--*********************** comment Section********************* -->

<div class="comments">
		<div class="comment-wrap">
				<div class="photo">
                    {{user_object.first_name}}
						<div class="avatar" style="background-image: url('/images/avatars/{{user_avatar}}')"></div>
				</div>
				<div class="comment-block">
						<form method="POST" action="/comment_class" >
                                <input type="hidden" name="user_id" value="{{user_object._id}}">
                                <input type="hidden" name="class_id" value="{{class._id}}">
								<textarea class="texte_" name="comment_txt" id="" cols="30" rows="3" placeholder="Add your comment..."></textarea>
                                <input style="float: right;" type="submit" class="btn btn-primary" value="Leave A Comment">
                    	</form>
				</div>
		</div>


       {{#each class.commentaire}}
           
           
                <div class="comment-wrap">
                        <div class="photo">
                                <div class="avatar" style="background-image: url('/images/avatars/{{comment_avatar}}')"></div>
                        </div>
                        <div class="comment-block">
                                <p class="comment-text">  {{commentaire_txt}}.</p>
                                <div class="bottom-comment">
                                        <div class="comment-date">{{date}}</div>
                                        <ul class="comment-actions">
                                                <li class="complain">Complain</li>
                                                <li class="reply">Reply</li>
                                                 
                                        </ul>
                                </div>
                        </div>
                </div>
            
         {{/each}}
</div>

</div>
        
        
 {{else}}
    <p>You must be logged in to view the lessons</p>
    
 {{/if}}
           
               
              
       

</div>

 



