    <h2>   {{class.title}} 's Classes lessons </h2>

    <table cellspacing="0" cellpadding="0"> 
        <thead> 
            <tr>
                <th>Lesson Id</th>
                <th>Lesson Title</th>
                <th>lesson body</th>
                <th>  Lesson File  </th>
           
                <th></th>
               
            </tr>
        </thead>
        <tbody> 
            {{#each class.lessons}}
                <tr>
                    <td>{{lesson_number}}</td>
                    <td> {{lesson_title}}</td>
                    <td> {{lesson_body}}</td>
                     
                    <td><a href="/classes/{{_id}}/lessons/{{lesson_number}}">View Lesson File</a></td>
                    <a href="/classes/ttt/{{_id}}/lesson/{{lesson_number}}">ttt</a>
                </tr>
            {{/each}}
        </tbody>
    </table>